.usercardscontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.user.card {

  border-radius: 8px;
  padding: 16px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px blue; 
}

.user.card.shadow-lg {
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.6);
}

.user.card h2 {
  margin-top: 0;
}

.user.card p {
  margin: 8px 0;
}
