
.image {
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  width: auto;
  height: auto; /* Smooth transition for the scaling effect */
}
.imagecontainer {
  text-align: center;
}

.imagecontainer .image {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease; /* Add a smooth transition for the enlargement effect */
}

.imagecontainer:hover .image {
  transform: scale(1.1); /* Slightly enlarge image on hover */
}
.image-container .text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  color: aliceblue !important;
  transform: translateX(-50%);
  background-color: rgba(78, 10, 226, 0.7);
  padding: 10px;
}
@media (max-width: 768px) {
  .imagecontainer:hover .image {
    transform: scale(1.05); /* Slightly enlarge image on hover for smaller screens */
  }
}
